# Puerto de ejecución del servidor Nugon SOS (diferente a otros servicios)
PORT=3005

# Prefijo de ruta base (ejemplo: /nugon)
BASE_PATH=/nugon

# Llaves VAPID para Notificaciones Web Push
# Si no las especificas, el servidor las generará automáticamente en la primera ejecución
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:soporte@prisma.com.py
